<div class="modal-header">
    <button type="button" class="close" ng-click="$modalInstance.dismiss('cancel')" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <p class="modal-title" id="myModalLabel">

    <h3><strong>プレミアム会員登録にあたっては、プレミアム会員規約に同意の上、決済画面に進んでください。</strong></h3>

    <h3>特に下記4つの項目にご注意下さい。</h3>
    <ol>
        <li>月額利用料金は4,800円（消費税別）です。</li>
        <li>解約申請が無い限り自動継続となります。</li>
        <li>登録が月の半ばであっても1か月分の利用料が発生します。</li>
        <li>お支払いはクレジットカード決済のみとなります。</li>
    </ol>
    </p>
</div>

<div class="modal-body modal-collapse" style="overflow-y:scroll;max-height:25em;background:#ddd;">
    <h3><a></a><span>プレミアム会員利用規約</span></h3>

    <p><span>本利用規約は、一般社団法人PCサポート技術者（以下「当社」といいます）が提供する、「順番コンシェルプレミアム会員サービス」（以下「本サービス」といいます）を利用する利用者と当社との間に適用される条件を定めるものです。利用者が本サービス利用する場合には、本利用規約に同意したものとみなされます。</span>
    </p>

    <p><span></span></p>

    <p><span>第1条（プレミアム会員登録）</span></p>
    <ol>
        <li><span>利用者が本サービスを利用する場合、本利用規約に同意のうえクレジットカード決済の手続きが必要となります。</span></li>
        <li><span>第１項の登録がなされた場合でも、当社が当該利用者をプレミアム会員として承認することを不適切と判断した場合、プレミアム会員を解除することがあります。また、プレミアム会員の取消しを行った場合であっても当社はその理由を開示しません。</span>
        </li>
    </ol>
    <p><span>第2条（利用料）</span></p>
    <ol>
        <li><span>プレミアム会員の月額利用料は4,800円（消費税別）となります。</span></li>
        <li><span>利用料金は、契約日にかかわらず初月度より一月分の月額金額が発生します。</span></li>
        <li><span>利用契約を月の途中解除した場合も日割計算による減額は行いません。</span></li>
        <li><span>登録月と同月に退会手続を行った場合は１ヶ月分の利用料金が発生します。</span></li>
        <li><span>当社はいかなる理由によっても、既に支払われた利用料は一切返還致しません。</span></li>
        <li><span>本サービスのご利用には、別途インターネット接続等の通信料がかかります。</span></li>
    </ol>
    <p><span>第3条（禁止事項）</span></p>

    <p><span>プレミアム会員は本サービス上で次の各号に該当する行為をしてはならないものとします｡</span></p>
    <ol>
        <li><span>犯罪的行為､または犯罪的行為に結びつく行為､もしくは公序良俗に反する行為､その恐れのある行為</span></li>
        <li><span>当社または第三者に迷惑を及ぼす行為</span></li>
        <li><span>本サービスに関して当社、通信事業者及びその他の第三者の権利を侵害、制限、妨害する行為、又はそのおそれのある行為</span></li>
        <li><span>利用契約にかかわる権利又は義務の譲渡又は承継、その他処分をする行為</span></li>
        <li><span>本サービスの運営を妨げる行為､または誹謗する行為</span></li>
        <li><span>(11)その他法令に違反する恐れのある行為</span></li>
        <li><span>(12)その他当社が不適切と判断する行為</span></li>
    </ol>
    <p><span>第4条（登録情報の削除）</span></p>

    <p><span>当社は、前条の禁止事項に該当するもしくは該当するおそれがあると当社が判断した場合、何ら催告なしに当該行為による一連の情報を削除し、当該行為によりプレミアム会員が得た権利、利益を取り消す等必要な措置をとり、プレミアム会員に対する本サービスの提供を停止または利用契約を解除することができるものとします。これによって当社または第三者に損害が発生した場合、当該プレミアム会員はその損害を賠償するものとします。</span>
    </p>

    <p><span>第5条（注意事項・免責事項）</span></p>
    <ol>
        <li><span>当社は利用者の顧客（情報登録者）情報について責任を負うものではありません。</span></li>
        <li><span>当社は事前にご案内する機器保守によるサービス停止を除き、サービスの安定供給を目指しますが、当社の責に帰す事由によりプレミアム会員が損害を被った場合、現実かつ直接の損害（プレミアム会員が負うことのある特別事情に基づく損害、逸失利益、その他間接損害を除く）に対し当社に支払った直近2ヶ月分の料金を限度とし、当社は賠償の責任を負うものとします。</span>
        </li>
    </ol>
    <p><span>第5条（プレミアム会員による契約解除）</span></p>

    <p><span>本サービスを解約される場合には、管理者パネルの「解約手続き」から手続きを行ってください｡</span></p>

    <p><span>第6条（当社による契約解除）</span></p>

    <p><span>当社は、次の各号に該当すると当社が判断した場合、何ら催告なしに登録情報を削除し、当該行為によりプレミアム会員が得た権利、利益を取り消す等必要な措置をとり、プレミアム会員に対する本サービスの提供を停止又は利用契約を解除することができるものとします。これによって当社又は第三者に損害が発生した場合、当該プレミアム会員はその損害を賠償するものとします。</span>
    </p>
    <ol>
        <li><span>プレミアム会員から利用料金のお支払がないと当社が認めた場合</span></li>
        <li><span>本利用規約第２条第１項各号に該当する場合</span></li>
        <li><span>その他本利用規約に違反した場合</span></li>
    </ol>
    <p><span>第7条（個人情報の取扱い）</span></p>
    <ol>
        <li><span>当社は、プレミアム会員の登録、本サービスの利用等に伴い当社が取得する情報（以下「プレミアム会員情報」という）を当社が定めるプライバシーポリシーに従い、取り扱うものとします。但し、裁判所、警察などの公的機関から事件・事故に関わる故、適法な手続きにより照会を受けた場合、又は、人命、財産を保護するため必要と認められた場合は当該機関に対し情報を開示することがあります。 </span>
        </li>
        <li><span>当社は、プレミアム会員情報に関し虚偽の変更・修正又は申告があったと認められた場合はプレミアム会員情報の削除を行うことができるものとします。</span></li>
    </ol>
    <p><span>第8条（サービスの停止）</span></p>

    <p><span>当社は、次の各号に該当する場合、プレミアム会員の承諾なしに、本サービスの全部又は一部を一時中断、停止する場合があります。この場合において、プレミアム会員に損害や不利益が発生しても、当社はその賠償や不利益を一切負担しないものとします。</span>
    </p>
    <ol>
        <li><span>システムの保守、更新又は当社が緊急と判断した場合</span></li>
        <li><span>天災、火災、停電等不可抗力によりサービス提供が困難な場合</span></li>
        <li><span>上記の他不測な事態によりサービス提供が困難な場合</span></li>
    </ol>
    <p><span>第9条（サービスの変更又は廃止）</span></p>
    <ol>
        <li><span>当社は、プレミアム会員に事前に通知することなく、本サービスの一部又は全部を変更･追加することができるものとします。</span></li>
        <li><span>当社は、プレミアム会員に事前に通知の上、本サービスの一部又は全部を廃止することができるものとします。</span></li>
    </ol>
    <p><span>第13条（本利用規約の変更）</span></p>

    <p><span>当社は本利用規約をプレミアム会員に対し予告なく任意に改定できるものとし、本利用規約の改定は、改定後の本利用規約を本サービスにかかるサイトに掲示したときにその効力を生じるものとします。この場合、プレミアム会員は改定後の規約に従うものとします。改定後に本サービスのご利用があった場合、改定後の本利用規約に同意したものとさせていただきます。</span>
    </p>

    <p><span>第14条（準拠法ならびに管轄裁判所）</span></p>

    <p><span>本利用規約の準拠法は日本法とし、当社とプレミアム会員との間で本サービス又は本利用規約の内容について疑義又は争いが生じた場合には、誠意を持って協議することとしますが、それでもなお解決しない場合には東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</span>
    </p>

    <p><span>（平成27年8月31日）</span></p>
</div>

<div class="modal-footer">
    <form name="tos-form" ng-submit="$modalInstance.close()">
        <div class="checkbox pull-left">
            <label>
                <input type="checkbox" name="tos-confirm" required>プレミアム会員利用規約に同意する
            </label>
        </div>
        <button type="button" class="btn btn-default" ng-click="$modalInstance.dismiss('cancel')">キャンセル</button>
        <button type="submit" class="btn btn-success">決済画面へ</button>
    </form>
</div>